.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

header img {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  margin-right: 20px;
  margin-left: 10px;
}

.header-links {
  display: flex;
  justify-content: space-around; 
  height: 100px;
  margin-top: 15px;
}

header a {
  height: 20px;
  width: 150px;
  padding: 10px;
  border: solid #4AB1BA 1px;
  border-radius: 5px;
  background-color: white;
  color: #4AB1BA;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 20px;
  font-size: 12px;
}

#logout-btn {
  width:120px;
 height: 30px;
 border-radius: 5px;
 border: #4AB1BA 1px solid;
 color: #4AB1BA;
 padding: 5px;
}

#sellItems {
  background-color: #4AB1BA;
  color: white;
}

#search {
  width: 500px;
  height: 25px;
  border-radius: 10px;
  background: #f1f3f9;
  border: none;
  margin-right: 20px;
  padding: 10px;
}

/* info offer dans App.js */

.offer-section {
  display: flex;
  flex-wrap: wrap ;
  padding: 20px;
  margin: 20px;
}

.offer-section img {
  object-fit: cover;
  height: 300px;
  width: 200px;
}

.offer-card {
 height: 320px;
 width: 250px;
 display: flex;
 flex-direction: column;
 padding: 20px;
 box-sizing: border-box;
 margin-bottom: 80px;
}

.offer-info-under-card {
  font-size: 12px;
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-content: left;
  line-height: 2px;
}




/* formumaire Signup & Login */

.form-sign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-sign > h2 {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.form-sign > input {
  width: 300px;
  margin: 10px;
  border: none;
  border-bottom: 1px #4AB1BA solid ;
}

.form-sign > p {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.submitInput {
 width:100px;
 height: 30px;
 border-radius: 5px;
 background-color: #4AB1BA;
 color: white;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formSeller {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.formSeller > input {
  width: 500px;
  margin: 10px;
  border: none;
  border-bottom: 1px lightgray solid ;
}

/* hero image - Home */
.hero-div{
  width: 1400px;
}

#hero-img {
  display: block;
  width: 1200px;
  height: auto;
  object-fit: cover;
}

/* Offer.js - info des items */ 
.item-page {
 display: flex;
 background-color: lightcyan;
 justify-content: space-around;
 padding: 30px;
}

.item-page-info {
  background-color: white;
  width: 350px;
  height: 460px;
  border: 1px solid #4AB1BA;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.item-page-img {
  max-height: 500px;
  max-width: auto;
}

#seller-details {
  font-size: 11px;
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


